<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Mini Project</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/project">Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <div class="container my-3">
        <h2 class="text-center my-3 py-3">About Me</h2>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/500x300/?code,html,apple" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Designer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Click for demo.</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/500x300/?code,java,apple" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Developer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Click for demo.</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/500x300/?code,python,apple" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Entertainer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Click for demo.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h1>My Dance Video</h1>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/external/324296539.sd.mp4?s=806775db4de3140951b439ef4b2a69c8bd91fa0f&profile_id=164&oauth2_token_id=57447761" allowfullscreen></iframe>
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/external/364759490.sd.mp4?s=e3b96d7076ab1325178c75780615b095e2efbebf&profile_id=164&oauth2_token_id=57447761" allowfullscreen></iframe>
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/external/353556849.sd.mp4?s=aaa884333f13e7a330894f8c3c9f62e36b843603&profile_id=164&oauth2_token_id=57447761" allowfullscreen></iframe>
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/external/363638916.sd.mp4?s=019ae2b312db0b6cbd3714d934072c3e33393199&profile_id=164&oauth2_token_id=57447761" allowfullscreen></iframe>
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/external/203442680.sd.mp4?s=c6945c6df198bd7c860c49bff3d7e96b9245cd1e&profile_id=164&oauth2_token_id=57447761" allowfullscreen></iframe>
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/external/353557114.sd.mp4?s=e27e3701073b3e8b0a8f38ebe0c6a0b045c8b343&profile_id=165&oauth2_token_id=57447761" allowfullscreen></iframe>
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/external/400909367.sd.mp4?s=881501ffbe65002b215f1e325c87e154194e6fa7&profile_id=164&oauth2_token_id=57447761" allowfullscreen></iframe>
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/external/371907345.sd.mp4?s=ccf5404ef56a44144d43b8340f4510dd1c0702d1&profile_id=164&oauth2_token_id=57447761" allowfullscreen></iframe>
        </div>
        
    </div>
  </body>
</html>